
@{
    ViewBag.Title = "Reports Menu";
}

<h2>@ViewBag.Title</h2>
<br>
<h3>@ViewBag.Message</h3>
<br>

<a href='/ReportsCustomers/Index'><button class=button>Gold/Silver Customers</button></a>
<a href='/ReportsCars/Index'><button class=button>Most Recent Rented Cars</button></a>
<a href='/ReportsRencentCars/Index'><button class=button>Most/Less Rented Cars in a given period</button></a>

<img src="~/Content/RentACar.png" title="RentACar" width="408" height="294" align="right">

